body {
  font-family: "Poppins", sans-serif;
}

.bg-gradient {
  background: linear-gradient(135deg, #1e3a8a 0%, #1e40af 100%);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: loader 1s infinite linear alternate;
  -webkit-animation: loader 1s infinite linear alternate;
}
@keyframes loader {
  0% {
    box-shadow: 20px 0 #38bdf8, -20px 0 #60a5fa;
    background: #38bdf8;
  }
  33% {
    box-shadow: 20px 0 #38bdf8, -20px 0 #60a5fa;
    background: #60a5fa;
  }
  66% {
    box-shadow: 20px 0 #60a5fa, -20px 0 #38bdf8;
    background: #60a5fa;
  }
  100% {
    box-shadow: 20px 0 #60a5fa, -20px 0 #38bdf8;
    background: #38bdf8;
  }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-in-out;
  -webkit-animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
